@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.newsletter {
  display: flex;
  /* width: 80%; */
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("img/elec-1.png");
  background-size: cover;
  background-position: center;
  padding: 60px 20px;
  color: #ffffff;
  border-bottom: 4px solid #1bd8c4;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-group input[type="text"],
.input-group button[type="submit"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 2px;
  margin: 10px 0;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

.input-group input[type="text"] {
  border: none;
}

.input-group input[type="text"]:focus {
  outline: 2px solid #1bd8c4;
}

button[type="submit"] {
  border: 1px solid transparent;
  background-color: #1bd8c4;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #ffffff;
  color: #1bd8c4;
  border: 1px solid #1bd8c4;
}

/* Mobile styles */
@media (max-width: 600px) {
  .newsletter {
    padding: 50px 20px;
  }

  .newsletter h1 {
    font-size: 30px;
  }

  .newsletter p {
    font-size: 16px;
    width: 100%;
  }
}

/* Tablet styles */
@media (min-width: 601px) and (max-width: 1024px) {
  .newsletter {
    padding: 80px 40px;
  }

  .newsletter h1 {
    font-size: 35px;
  }

  .newsletter p {
    font-size: 18px;
  }
}

/* Desktop styles */
@media (min-width: 1025px) {
  .newsletter {
    padding: 100px 60px;
  }

  .newsletter h1 {
    font-size: 45px;
  }

  .newsletter p {
    font-size: 20px;
  }
}
