@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

footer * {
	font-family: 'Lato', sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

footer {
	background-color: #1a3f6b;
	color: #f7f7f7;
	padding: 50px 240px 25px;
	display: grid;
	grid-template: repeat(3, max-content) / repeat(4, 1fr);
	/* border-top: 2px solid #1bd9c5; */
	column-gap: 40px;
	row-gap: 5px;
}

footer .address,
footer .links {
	text-align: center;
}

footer .links {
	align-self: center;
}

#street-name {
	margin-top: 25px;
}

footer .address li,
footer .links .lists li {
	list-style-type: none;
	margin-bottom: 20px;
}

footer .address h3,
footer .links h3 {
	margin-bottom: 20px;
	font-size: 1.17rem;
	font-weight: 700;
}

footer .address h3:hover,
footer .links h3:hover {
	color: #1bd8c4;
	cursor: default;
}

footer .links li a {
	color: #f7f7f7;
	text-decoration: none;
	cursor: pointer;
}

footer .links li a:hover {
	color: #23b3b6;
	cursor: pointer;
}

footer img {
	height: 40px;
}

.copyrights,
.payments {
	grid-column: span 4;
	text-align: center;
	font-size: 0.9rem;
}

.copyrights li,
.payments li {
	list-style: none;
	display: inline-block;
	margin-right: 10px;
}

@media screen and (max-width: 1000px) {
	footer {
		text-align: center;
		/* padding: 50px 13%; */
		grid-template: repeat(6, max-content) / 1fr;
	}
	.copyrights,
	.payments {
		grid-column: span 1;
	}
}

@media screen and (max-width: 425px) {
	footer {
		padding: 5% 2%;
		text-align: center;
	}
}
