.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 190px;
  margin-bottom: 5em;
  height: 300px;
  padding: 0.8em;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transform: scale(1.1);
  transform-origin: center;
  justify-content: space-around;
}

.card-img {
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #e0e0e0;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
  transition: 0.3s ease;
}

.card-info {
  padding-top: 10%;
}

svg {
  width: 20px;
  height: 20px;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
  font-weight: 500;
  font-size: 0.8em;
  line-height: 1.5;
}

.text-body {
  font-size: 0.9em;
  width: 12em;
  padding-bottom: 10px;
}

.card-button {
  border: 1px solid #252525;
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

/*Hover*/
.card-img:hover {
  transform: translateY(-15%);
  box-shadow: #87cefa4d 0px 13px 47px -5px,
    /* Light Sky Blue */ rgba(173, 216, 230, 0.3) 0px 8px 16px -8px; /* Light Blue */
}

.card-button:hover {
  border: 1px solid #87cefa4d;
  background-color: #87cefa4d;
}

.new-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.new-products-container {
  display: grid;
  width: 80%;
  max-width: 1200px;
  padding: 20px;
}

.new-products-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.prev-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #1a3f6b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.prev-button:hover {
  background-color: #0056b3;
}

.next-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #1a3f6b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.next-button:hover {
  background-color: #0056b3;
}

.prev-button-2 {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #1a3f6b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.prev-button-2:hover {
  background-color: #0056b3;
}

.next-button-2 {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #1a3f6b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.next-button-2:hover {
  background-color: #0056b3;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.load-more-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.load-more-button:hover {
  background-color: #0056b3;
}
